@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gridPortfolio {
    .card:nth-child(2) { @apply col-span-1; }
    .card:nth-child(5) { @apply col-span-1; }   
  }
}

body { font-family: 'Figtree', sans-serif;}
.wrapper { max-inline-size: 95%; }
.noiseBg {
  background: url('/images/noisebg.png');
  background-color: rgba(22, 22, 22, 0.091);
  background-repeat: repeat;
  inset: -50%;
  position: fixed;
  height: 200vh;
  width: 200%;
  pointer-events: none;

  animation: noise 0.1s infinite;
}

.infoScroll {
  view-timeline: --subjectReveal block;
  animation-timeline: --subjectReveal;
  animation-name: fadeIn;
  animation-range: entry;
}

.SectionScrollUp{
  animation-name: portfolioUp;
  animation-range:contain;
}

.SectionScrollDown{
  animation-name: portfolioDown;
  animation: scale-down linear both;
  animation-timeline: view(block);
  animation-range: exit;
}

@keyframes noise {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(-5%, -5%, 0);
  }
  20% {
    transform: translate3d(-10%, 5%, 0);
  }
  30% {
    transform: translate3d(5%, -10%, 0);
  }
  40% {
    transform: translate3d(-5%, 15%, 0);
  }
  50% {
    transform: translate3d(-10%, 5%, 0);
  }
  60% {
    transform: translate3d(15%, 0, 0);
  }
  70% {
    transform: translate3d(15%, 15%, 0);
  }
  80% {
    transform: translate3d(10%, 5%, 0);
  }
  90% {
    transform: translate3d(5%, 10%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to{
    opacity: 1;
    transform: translateY(0em);
  }
}