@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gridPortfolio {
    .card:nth-child(2) { @apply col-span-1; }
    .card:nth-child(5) { @apply col-span-1; }   
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding-right: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

body { font-family: 'Figtree', sans-serif;}
.wrapper { max-inline-size: 95%; }
.noiseBg {
  background: url('/images/noisebg.png');
  background-color: rgb(28, 32, 46);
  /* background-color: rgb(30, 41, 59); */
}
.noiseBg:after {
animation: grain 8s steps(10) infinite;
background-image: url('/images/noisebg.png');
content: "";
height: 300%;
left: -50%;
opacity: 0.3;
position: fixed;
z-index: -10;
top: -100%;
width: 300%;
}

.infoScroll {
  view-timeline: --subjectReveal block;
  animation-timeline: --subjectReveal;
  animation-name: fadeIn;
  animation-range: entry;
}

.SectionScrollUp{
  animation-name: portfolioUp;
  animation-range:contain;
}

.SectionScrollDown{
  animation-name: portfolioDown;
  animation: scale-down linear both;
  animation-timeline: view(block);
  animation-range: exit;
}

@keyframes grain {
0%, 100% { transform:translate(0, 0) }
10% { transform:translate(-5%, -10%) }
20% { transform:translate(-15%, 5%) }
30% { transform:translate(7%, -25%) }
40% { transform:translate(-5%, 25%) }
50% { transform:translate(-15%, 10%) }
60% { transform:translate(15%, 0%) }
70% { transform:translate(0%, 15%) }
80% { transform:translate(3%, 35%) }
90% { transform:translate(-10%, 10%) }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to{
    opacity: 1;
    transform: translateY(0em);
  }
}



@keyframes portfolioUp {
  from {
    transform: perspective(1200px) translateX(0px) translateY(-27.2727px) scale(1) rotate(0deg) rotateX(0deg) rotateY(0deg) translateZ(20px);
  }
  to {
    transfrom: perspective(1200px) translateX(0px) translateY(-63.6364px) scale(0) rotate(0deg) rotateX(0deg) rotateY(0deg) translateZ(0px)
  }
}

@keyframes portfolioDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}