---
import Layout from "../layouts/Layout.astro";
import WebNav from "../components/WebNav.astro";
import Skills from "../components/Skills.astro";
import Portfolio from "../components/Portfolio.astro";
import SectionC from "../components/SectionC.astro";

const social = [
  {
    name: "LinkedIn",
    URL: "https://www.linkedin.com/in/sergiorozco/",
    img: "/icons/social/Linkedin.svg",
  },
  {
    name: "Github",
    URL: "https://github.com/Sergioaorozco",
    img: "/icons/social/Github.svg",
  },
  {
    name: "Behance",
    URL: "https://www.behance.net/sergioaorozco",
    img: "/icons/social/Behance.svg",
  },
  {
    name: "Whatsapp",
    URL: "https://api.whatsapp.com/send?phone=573007869517",
    img: "/icons/social/Whatsapp.svg",
  },
];
---

<Layout title="Sergio Orozco | Frontend Developer | VueJs, Astro, Tailwind">
  <section
    class="lg:px-10 px-5 pt-2 pb-10 mt-5 rounded-2xl bg-gradient-to-b from-slate-950 static to-slate-600 -z-10 overflow-clip"
  >
    <WebNav />
    <main class="wrapper m-auto flex gap-x-4 justify-center items-center mt-10">
      <div class="lg:text-balance text-center">
        <p class="text-3xl lg:text-5xl">Hi There, I'm</p>
        <h1 class="text-5xl lg:text-6xl font-extrabold uppercase">
          Sergio Orozco
        </h1>
        <div class="flex flex-col gap-3 justify-center items-center">
          <h2 class="text-2xl lg:text-4xl font-semibold">
            Front-end Developer
          </h2>
          <ul class="flex gap-x-2 items-center">
            {
              social.map((icon) => (
                <li class="hover:brightness-150 hover:filter transition-all duration-200">
                  <a href={icon.URL} target="_blank" rel="noopener noreferrer">
                    <img
                      class="size-14"
                      src={icon.img}
                      alt={`icon for ${icon.name}`}
                    />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </main>
    <img src="/imges/BigSBG.svg" alt="">
  </section>
  <SectionC TitleSec="About Me">
    <div class="mt-5 flex justify-between gap-x-7 flex-col lg:flex-row">
      <div class="text-balance flex flex-col gap-y-2 text-center lg:text-left">
        <p>
          Mid-level frontend developer crafting user-friendly, engaging
          experiences with VueJs and Astro. Proficient in <strong
            >agile methodologies(SAFe)</strong
          > and teamwork, I bring a strong work ethic and passion for excellence
          to help your team achieve its goals.
        </p>
      </div>
      <div class="bg-slate-500 rounded w-3/4 h-full relative"></div>
    </div>
  </SectionC>
  <SectionC TitleSec="Tools">
    <Skills />
  </SectionC>
  <SectionC TitleSec="Portfolio">
    <Portfolio />
  </SectionC>
</Layout>
