---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import SectionC from "../components/SectionC.astro";
import RightArrow from "../assets/RightArrow.astro";

const social = [
  {
    name: "LinkedIn",
    URL: "https://www.linkedin.com/in/sergiorozco/",
    img: "/icons/social/Linkedin.svg",
  },
  {
    name: "Github",
    URL: "https://github.com/Sergioaorozco",
    img: "/icons/social/Github.svg",
  },
  {
    name: "Whatsapp",
    URL: "https://api.whatsapp.com/send?phone=573007869517",
    img: "/icons/social/Whatsapp.svg",
  },
];
---

<Layout title="Sergio Orozco | Frontend Developer | VueJs, Astro, Git">
      <div class="grid lg:grid-cols-3 grid-cols-1 mt-5 lg:mb-10 mb-0">
        <main aria-label="Main Information" class="mt-5 px-3 flex flex-col justify-between text-slate-500 pr-0 md:pr-12 lg:pr-12">
          <div class="lg:text-balance text-center lg:text-left lg:sticky lg:top-5">
            <p class="text-3xl lg:text-5xl">Hi There, I'm</p>
            <h1 class="text-5xl lg:text-6xl font-extrabold uppercase text-slate-300">Sergio Orozco</h1>
            <div class="flex flex-col gap-3 justify-center items-center lg:justify-start lg:items-start">
              <h2 class="text-2xl lg:text-4xl font-semibold">Front-end Developer </h2>
              <a class="bg-slate-500 text-slate-900 font-bold italic text-sm lg:text-md hover:bg-slate-400 transition-all duration-200 rounded-full px-4 py-2 flex gap-x-2 items-center hover:gap-x-4" href="#" target="_blank">At SproutLoud Media Networks <span class=""><RightArrow></RightArrow></span></a>
              <div class="text-balance text-lg lg:text-xl text-slate-400 flex flex-col gap-y-2 text-center lg:text-left my-6">
                <p>Mid-level frontend developer crafting user-friendly, engaging experiences with VueJs and Astro. Proficient in <strong class="text-slate-200">agile methodologies(SAFe)</strong> and teamwork, I bring a strong work ethic and passion for excellence to help your team achieve its goals.</p>
              </div>
              <div class="flex flex-col lg:flex-row gap-3 w-full mb-12 lg:mb-0">
                <ul class="flex gap-x-2 items-center justify-center lg:justify-start">
                  {
                    social.map((icon) => (
                      <li class="hover:brightness-150 hover:filter transition-all duration-200">
                        <a href={icon.URL} target="_blank" rel="noopener noreferrer">
                          <img class="lg:size-8 size-16" src={icon.img} alt={`icon for ${icon.name}`}/>
                        </a>
                      </li>
                    ))
                  }
                </ul>
              <a class="bg-amber-500 justify-center lg:justify-start lg:w-auto text-slate-900 font-bold italic text-sm lg:text-md hover:bg-amber-400 transition-all duration-200 rounded-full px-4 py-2 flex gap-x-2 items-center hover:gap-x-4" href="#" target="_blank">Download Resume<span class=""><RightArrow></RightArrow></span></a>
              </div>
            </div>
          </div>
        </main>
        <section class="col-span-2 px-2 lg:px-5 mb-10 lg:mb-0">
          <div>
            <SectionC TitleSec="Tool Stack">
              <Skills />
            </SectionC>
            <SectionC TitleSec="Awards and Certifications">
              <div class="flex flex-col lg:flex-row gap-3 mt-5">
                <a href="#" class="bg-gradient-to-b flex flex-grow from-slate-950 to-emerald-900 rounded-lg py-4 px-5 overflow-clip relative group h-44">
                  <div class="relative z-10">
                    <p class="text-2xl lg:text-3xl font-semibold text-slate-300">VueJs Developer</p>
                    <p>Certification</p>
                  </div>
                  <img src="../icons/VueLogo.svg" alt="" class="group-hover:-rotate-12 transition-all duration-500 absolute -right-4 rotate-2 h-full mix-blend-multiply opacity-40 -top-2">
                  <div class="absolute flex items-center bg-amber-500 px-2 h-12 bottom-0 lg:-bottom-20 left-0 right-0 text-slate-900 group-hover:bottom-0 group-hover:opacity-100 transition-all duration-200 notesCard">
                    <p class="flex justify-between items-center w-full">
                      <span class="font-semibold text-sm">2023 - See Certification</span>
                      <RightArrow></RightArrow>
                    </p>
                  </div>
                </a>
                <a href="#" class="bg-gradient-to-b flex flex-grow from-slate-950 to-red-900 rounded-lg py-4 px-5 overflow-clip relative group h-44">
                  <div class="relative z-10">
                    <p class="text-2xl lg:text-3xl font-semibold text-slate-300">Redis University</p>
                    <p>JavaScript Developer</p>
                  </div>
                  <img src="../icons/RedisLogo.svg" alt="" class="group-hover:-rotate-12 transition-all duration-500 absolute -right-4 rotate-2 h-full mix-blend-multiply opacity-40 -top-2">
                  <div class="absolute flex items-center bg-amber-500 px-2 h-12 bottom-0 lg:-bottom-20 left-0 right-0 text-slate-900 group-hover:bottom-0 group-hover:opacity-100 transition-all duration-200 notesCard">
                    <p class="flex justify-between items-center w-full">
                      <span class="font-semibold text-sm">2023 - See Certification</span>
                      <RightArrow></RightArrow>
                    </p>
                  </div>
                </a>
                <div class="bg-gradient-to-b flex from-slate-950 flex-grow to-blue-900 rounded-lg py-4 px-5 overflow-clip relative group cursor-grab h-44">
                  <div class="relative z-10">
                    <p class="text-2xl lg:text-3xl font-semibold text-slate-300">Rookie of the Year</p>
                    <p>Sproutloud Media Networks</p>
                  </div>
                  <img src="../images/Awward.svg" alt="" class="group-hover:-rotate-12 transition-all duration-500 absolute -right-4 rotate-2 h-full mix-blend-multiply opacity-40 -top-2">
                  <div class="absolute flex items-center bg-amber-500 px-2 h-12 bottom-0 lg:-bottom-20 left-0 right-0 text-slate-900 group-hover:bottom-0 group-hover:opacity-100 transition-all duration-200 notesCard">
                    <p class="w-full">
                      <span class="font-semibold text-sm">2022 - Employee Annual Awards</span>
                    </p>
                  </div>
                </div>

              </div>
            </SectionC>
          </div>
        </section>
      </div>
</Layout>

<style>
  /* .notesCard {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal; 
  } */
</style>

