---
const { TitleSec } = Astro.props;
---

<div class="text-slate-400 mx-auto mb-12 relative flex flex-col lg:w-auto">
  <div class="relative">
    <h1 class="text-xl">{TitleSec}</h1>
    <div class="border-b border-slate-400/50 mb-5"></div>
  </div>
  <slot></slot>
</div>