---
const { TitleSec } = Astro.props;
---

<div class="text-slate-400 mx-auto flex flex-col w-full">
  <div>
    <h1 class="text-xl mb-3">{TitleSec}</h1>
    <!-- <div class="border-b border-slate-400/50 mb-5"></div> -->
  </div>
  <slot></slot>
</div>