---
const { TitleSec } = Astro.props;
---

<div class="text-slate-400 wrapper mx-auto mb-12 relative flex flex-col">
  <div class="relative">
    <h1 class="text-xl">{TitleSec}</h1>
    <div class="border-b border-slate-400/50"></div>
  </div>
  <slot></slot>
</div>