---
interface Props {
  title: string;
}

const { title } = Astro.props;
import '../styles/MainCSS.css';
import WebNav from "../components/WebNav.astro";
import { ViewTransitions } from "astro:transitions";
import RightArrow from '../assets/RightArrow.astro';


const social = [
  {
    name: "LinkedIn",
    URL: "https://www.linkedin.com/in/sergiorozco/",
    img: "/icons/social/Linkedin.svg",
  },
  {
    name: "Github",
    URL: "https://github.com/Sergioaorozco",
    img: "/icons/social/Github.svg",
  },
  {
    name: "Whatsapp",
    URL: "https://api.whatsapp.com/send?phone=573007869517",
    img: "/icons/social/Whatsapp.svg",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon_sorozco.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Gochi+Hand&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-white noiseBg">
    <div class="px-6">
     <WebNav></WebNav>
    </div>
    <section class="flex flex-col">
      <slot />
    </section>
    <!-- Transitions -->
    <ViewTransitions></ViewTransitions>
  </body>
</html>
<style is:global>
  body { font-family: 'Figtree', sans-serif;}
  .wrapper { max-inline-size: 95%; }
  .noiseBg {
    background: url('../images/noisebg.png');
    background-color: rgb(28, 32, 46);
    /* background-color: rgb(30, 41, 59); */
  }
  .noiseBg:after {
  animation: grain 8s steps(10) infinite;
  background-image: url('../images/noisebg.png');
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  z-index: -10;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}
</style>
